@model List<TheWord.Models.GaryPost>
@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<div style="margin-top:10px">
    @Html.ActionLink("New Gary Post!", "AddNewPost", "Posts", new { @class = "button" })
</div>

<h2>
    This Gary's Posts
</h2>

@if (Model.Count == 0)
{
    <div>
        You ain't got no posts Gary
    </div>
}
else
{
    <div class="clear-fix" style="margin-bottom:20px">
        <div class="float-left" style="margin-left:5px; width:20%; font-weight:bold">
            User Name
        </div>

        <div class="float-left" style="width:25%; font-weight:bold">
            Title
        </div>

        <div class="float-left" style="width:29%; font-weight:bold">
            Date and Time
        </div>

        <div style="width:25%" class="float-left; font-weight:bold">

        </div>
    </div>
}


@foreach (TheWord.Models.GaryPost garyPost in Model)
{
    <div class="clear-fix" style="margin-bottom:20px">
        <div class="float-left" style="margin-left:5px; width:19%">
            @garyPost.ByUser
        </div>

        <div class="float-left" style=" width:25%">
            @Html.ActionLink(garyPost.Title, "EditPost", new { garyPostId = garyPost.ID })
        </div>

        <div class="float-left" style="width:29%">
            @garyPost.PostedDate.ToShortDateString() at @garyPost.PostedDate.ToShortTimeString()
        </div>

        <div style="width:25%; text-align:right" class="float-right" >
            @Ajax.ActionLink("Delete", "DeletePost", "Posts", new { garyPostId = garyPost.ID }, new AjaxOptions() { HttpMethod = "POST" }, new { @class = "button" })
        </div>
    </div>
}


